.icon-ui {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.ic-loc {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/icons/ic-location.svg") no-repeat no-repeat center;
  background-size: cover;
}

.ic-play {
  background: url("../img/icons/ic-play.svg");
}

.ic-time {
  background: url("../img/icons/ic-time.svg");
}

.ic-phone {
  background: url("../img/icons/ic-phone.svg");
}
