// Сбросс стилей у button
@mixin reset-btn {
  border: none;
  outline: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

// Сбросс стилей у списка
@mixin reset-ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// Сбросс стилей у input
@mixin reset-input {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}
