.portfolio {
  .container {
    max-width: 80%;

    @media (max-width: 1440px) {
      max-width: 100%;
    }
  }

  &__head {
    margin-bottom: 64px;
    text-align: center;

    @media (max-width: 480px) {
      margin-bottom: 48px;
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__descr {
    font-size: 20px;
  }

  &__photos {
    display: grid;
    grid-gap: 16px;
    // grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));

    @media (min-width: 1440px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 799px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__item {
    height: 340px;
    cursor: pointer;
    position: relative;
    border-radius: 32px;
    overflow: hidden;

    @media (max-width: 1024px) {
      border-radius: 16px;
      height: 240px;
    }

    @media (max-width: 799px) {
      height: 320px;
    }

    .gallery-link {
      cursor: pointer;
      display: inline-block;
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    .btn {
      &:hover {
        color: $color--bg-dark;
      }
    }
    @media (max-width: 480px) {
      margin-top: 32px;
    }
  }
}

@media (max-width: 600px) {
  .portfolio__head {
    margin-bottom: 48px;
  }

  .portfolio__btn {
    margin-top: 32px;
  }
}

@media (max-width: 480px) {
  .portfolio__head {
    margin-bottom: 32px;
  }
  .portfolio__descr {
    font-size: 18px;
    line-height: 150%;
  }

  .portfolio__item {
    height: 280px;
  }

  .gallery-link::before,
  .gallery-link::after {
    display: none;
  }
}
